* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
    background-color: #404040;
    font-family: "Instrument Serif", serif;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 100px;
    background-color: #636363;
}

 .top a {
    position: relative;
    top: 15px;
    font-size: 150%;
    text-decoration: none;
    margin-left: 330px;
    color: black;
    
}



