* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
    background-color: #404040;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: #636363;
}

 .top a{
    position: relative;
    font-size: 1.1em;
    text-decoration: none;
    margin-left: 300px;
    color: black;
 }
  


