* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 transition: 0.2s linear;
}

body{

    font-family: "Instrument Serif", serif;
    margin: 0;
    min-height: 100vh;
    background: radial-gradient(circle, #363636 23%, #A6A6A6 55%);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 199px;

}

 .top a {
    position: relative;
    top: 30px;
    font-size: 180%;
    text-decoration: none;
    margin-left: 330px;
    color: black;
    
}

.top a:hover {
    padding-bottom: 0.4rem;
    font-size: 1.2rem;
   color: aliceblue;
  
}

.icons {
    position: relative;
    float: right;

}

.icons img{
     margin: 1rem;
     cursor: pointer;
    
}

.icons img:hover {
    transform: scale(1.2);
    
}
 header .icons {
    position: absolute;
    top: 20px;
    right: 90px;
 }
 
 .bemVindo {
    position: relative;
    top: 80px;
   margin-top: 100px;
    font-size: 5rem;
    width: 466px;
    height: 375px;
 }

 .prazer {
    position: absolute;
    font-size: 4rem;
    width: 218px;
    height: 217px;
    margin-left: 77rem;
    margin-top: -15rem;
    
 }