* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 transition: 0.2s linear;
}

body{

    font-family: "Instrument Serif", serif;
    margin: 0;
    min-height: 100vh;
    background: radial-gradient(circle, #363636 23%, #A6A6A6 55%);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 199px;

}

 .top a {
    position: relative;
    top: 30px;
    font-size: 180%;
    text-decoration: none;
    margin-left: 330px;
    color: black;
    
}

.top a:hover {
    padding-bottom: 0.4rem;
    font-size: 1.2rem;
   color: aliceblue;
  
}

.icons {
    position: relative;
    float: right;

}

.icons img{
     margin: 1rem;
     cursor: pointer;
    
}

